{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% translate "Sign up" %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
          <p>{% blocktranslate with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
            {{site_name}}. As a final step, please complete the following form:{% endblocktranslate %}</p>
          <form id="signup_form" method="post" action="{% url "socialaccount_signup" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            <legend>{% translate "Sign up" %}</legend>
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-base-color">{% translate "Sign up" %}</button>
          </form>
        </div>
      </div>
  </div>
  {% endblock %}
