{% extends "base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block page_header %}{% trans "Login" %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <form method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}
            {{ form|bootstrap }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
            <a href="{% url "account_password_reset" %}" class="btn btn-link">{% trans "Forgot your password?" %}</a>
        </form>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <p class="login-signup">
                    {% trans "Don't have an account?" %}
                    <strong><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></strong>
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_email').focus();
        });
    </script>
{% endblock %}
