{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate "Login" %} | {% endblock %}

{% block page_header %}{% translate "Login" %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <form method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-primary">{% translate "Log in" %}</button>
            <a href="{% url 'account_reset_password' %}" class="btn btn-link">{% translate "Forgot your password?" %}</a>
            {% include "_social_buttons.html" %}
        </form>
        <p class="login-signup">
            {% translate "Don't have an account?" %}
            <strong><a href="{% url 'account_signup' %}">{% translate "Sign up" %}</a></strong>
        </p>
    </div>
</div>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_email').focus();
        });
    </script>
{% endblock %}
