{% extends "base.html" %}

{% load i18n %}

{% block title %} - {% translate "Log out" %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="{% url "account_logout" %}">
                <legend>{% translate "Log out" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    <p>{% translate "Are you sure you want to log out?" %}</p>
                    <button type="submit" class="btn btn-primary">{% translate "Log out" %}</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
