{% extends "base.html" %}

{% load i18n %}

{% block title %} - {% trans "Password reset sent" %}{% endblock %}

{% block body %}
<div class="container">
<div class="row">
    <h1>{% trans "Password reset sent" %}</h1>
    {% if not resend %}
        <p>{% blocktrans %}We have sent you an email. If you do not receive it within a few minutes, try resending or contact us at <a href="mailto:web@numfocus.org">web@numfocus.org</a>.{% endblocktrans %}</p>

        <div class="row">
            <div class="col-md-5">
                <form method="POST" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.as_hidden }}
                    {% endfor %}
                    <button type="submit" name="resend" class="btn btn-primary">{% trans "Resend" %}</button>
                </form>
            </div>
        </div>
    {% else %}
        <p>{% blocktrans %}We have resent the password email. If you do not receive it within a few minutes, contact us at <a href="mailto:web@numfocus.org">web@numfocus.org</a>.{% endblocktrans %}</p>
    {% endif %}
</div>
</div>
{% endblock %}
