{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% translate "Change Password" %} | {% endblock %}

{{ request.user.email }

{% block body %}
<div class="container">
    <div class="row">
        <div  class="col-md-8">
            <form method="POST" action="">
                <legend>{% translate "Change Password" %}</legend>
                <p class="lead">{% translate "Please enter a new password." %}</p>
                <fieldset class="row">
                    <div class="col-md-5">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-base-color">
                            {% translate "Change my password" %}
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <p>{% blocktranslate %}If you have any trouble changing your password, contact us at <a href="mailto:web@pydata.org">web@pydata.org</a>.{% endblocktranslate %}</p>
</div>
{% endblock %}

{% block extra_body %}
    <script>
        jQuery("#id_email").focus();
    </script>
{% endblock %}
