{% extends "base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account_tags %}

{% block title %} - {% trans "Change Password" %}{% endblock %}

{% user_display request.user as user_display %}

{% block body %}
<div class="container">
    <div class="row">
        <div  class="col-md-8">
            <form method="POST" action="">
                <legend>{% trans "Change Password" %}</legend>
                <p class="lead">{% trans "Please enter a new password." %}</p>
                <fieldset class="row">
                    <div class="col-md-5">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <button type="submit" class="btn btn-primary">
                            {% trans "Change my password" %}
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <p>{% blocktrans %}If you have any trouble changing your password, contact us at <a href="mailto:web@pydata.org">web@pydata.org</a>.{% endblocktrans %}</p>
</div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
