{% extends "base.html" %}

{% load i18n %}

{% block title %} - {% translate "Sign up" %}{% endblock %}

{% block body %}
<div class="container">
    <h1>{% translate "This site is in private beta" %}</h1>
    <p>{% blocktranslate %}If you have signup code you can enter it below.{% endblocktranslate %}</p>
    <form method="get" action="">
        <div><input type="text" name="code" placeholder="Your signup code..." /></div>
        <div><input type="submit" class="btn btn-primary"></div>
    </form>
</div>
{% endblock %}
