{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate "Sign up" %} | {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                <legend>{% translate "Sign up" %}</legend>
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary">{% translate "Sign up" %}</button>
                {% include "_social_buttons.html" %}
            </form>
            <p class="login-signup">

                <small>
                    {% translate "Already have an account?" %}  <strong><a href="{% url 'account_login' %}">{% translate "Log in" %}</a></strong>
                </small>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#id_username').focus();
        });
    </script>
{% endblock %}
