error_page 413 {{ subdirectory }}/413/;

location {{ subdirectory }}/media/ {
    alias {{ project_root }}/public/media/;
}
location {{ subdirectory }}/static/ {
    alias {{ project_root }}/public/static/;
}

location {{ subdirectory }}/403-csrf/ {
    proxy_pass http://127.0.0.1:{{ gunicorn_port }};
    proxy_set_header Host $host;
    {% include "./templates/_proxy_variables.j2" %}
}

location {{ subdirectory }}/413/ {
    proxy_pass http://127.0.0.1:{{ gunicorn_port }};
    proxy_set_header Host $host;
    {% include "./templates/_proxy_variables.j2" %}
}

location {{ subdirectory }}/accounts/ {
    proxy_pass http://127.0.0.1:{{ gunicorn_port }};
    proxy_set_header Host $host;
    {% include "./templates/_proxy_variables.j2" %}
}

location {{ subdirectory }}/admin/ {
    proxy_pass http://127.0.0.1:{{ gunicorn_port }};
    proxy_set_header Host $host;
    {% include "./templates/_proxy_variables.j2" %}
}

location {{ subdirectory }}/api/ {
    proxy_pass http://127.0.0.1:{{ gunicorn_port }};
    {% include "./templates/_proxy_variables.j2" %}
}

location {{ subdirectory }}/cms/ {
    proxy_pass http://127.0.0.1:{{ gunicorn_port }};
    proxy_set_header Host $host;
    {% include "./templates/_proxy_variables.j2" %}
}

location {{ subdirectory }}/dashboard/ {
    proxy_pass http://127.0.0.1:{{ gunicorn_port }};
    proxy_set_header Host $host;
    {% include "./templates/_proxy_variables.j2" %}
}

location {{ subdirectory }}/documents/ {
    proxy_pass http://127.0.0.1:{{ gunicorn_port }};
    proxy_set_header Host $host;
    {% include "./templates/_proxy_variables.j2" %}
}

location {{ subdirectory }}/images/ {
    proxy_pass http://127.0.0.1:{{ gunicorn_port }};
    {% include "./templates/_proxy_variables.j2" %}
}

location {{ subdirectory }}/proposals/ {
    proxy_pass http://127.0.0.1:{{ gunicorn_port }};
    proxy_set_header Host $host;
    {% include "./templates/_proxy_variables.j2" %}
}

location {{ subdirectory }}/reviews/ {
    proxy_pass http://127.0.0.1:{{ gunicorn_port }};
    proxy_set_header Host $host;
    {% include "./templates/_proxy_variables.j2" %}
}

location {{ subdirectory }}/schedule/ {
    proxy_pass http://127.0.0.1:{{ gunicorn_port }};
    proxy_set_header Host $host;
    {% include "./templates/_proxy_variables.j2" %}
}

location {{ subdirectory }}/speaker/ {
    proxy_pass http://127.0.0.1:{{ gunicorn_port }};
    proxy_set_header Host $host;
    {% include "./templates/_proxy_variables.j2" %}
}

location {{ subdirectory }}/time-zone/ {
    proxy_pass http://127.0.0.1:{{ gunicorn_port }};
    proxy_set_header Host $host;
    {% include "./templates/_proxy_variables.j2" %}
}

location {{ subdirectory }}/ {
    {% if content_site == "" %}
    proxy_pass http://127.0.0.1:{{ gunicorn_port }};
    {% else %}
    proxy_pass https://{{ content_site }}/;
    # See https://www.poparide.com/blog/how-to-host-wpengine-blog-in-subdirectory-using-reverse-proxy/
    proxy_set_header Host {{ content_site }};
    proxy_set_header Accept-Encoding "";
    rewrite {{ subdirectory }}/(.*) /$1 break;
    # Poparide uses a third-party nginx module
    # (https://www.nginx.com/resources/wiki/modules/substitutions/).
    # The normal nginx substitions module
    # (http://nginx.org/en/docs/http/ngx_http_sub_module.html)
    # is good enough for us.
    sub_filter "{{ content_site }}" "{{ website_domain }}{{ subdirectory }}";
    sub_filter_last_modified on;
    sub_filter_once off;
    sub_filter_types text/html text/css text/xml;
    proxy_ignore_headers Cache-Control;
    {% endif %}
    {% include "./templates/_proxy_variables.j2" %}
}
