proxy_http_version 1.1;
proxy_set_header Host $host;
proxy_set_header SCRIPT_NAME "{{ subdirectory }}";
proxy_set_header X-Forwarded-Host $server_name{% if environment_type == "development" %}:{{ website_port }}{% endif %};
