{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body %}
<div class="container sec1-inner-page">
{% if page.background_image %}
<div id="sli" class="text-center">
    {% image page.background_image original %}
</div>
{% endif %}
<section>
    <div class="container" id="sec1">
        {% include_block page.venue_info_section %}
    </div>
</section>
{% if page.google_maps_url %}
<section>
    <div class="col-xs-12 map-canvas text-center" style="background-color:#fff">
        <iframe src="{{ page.google_maps_url }}" width="100%" height="600"
            frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
</section>
{% endif %}
<section>
    <div class="container" id="sec1">
        {% include_block page.hotel_info_section %}
    </div>
</section>
</div>
{% endblock %}
