body {
    padding-top: 50px;
}

section {
    padding: 20px 0;
}

footer {
    padding-bottom: 20px;
}

.feature-columns {
    .make-row();

    > div {
        i.fa {
            margin-bottom: 0.2em;
        }
        .make-sm-column(4);
        .text-center;
        margin: 2em 0;
    }
}

.modal-open .modal {
    display: block !important;
}

.modal-form {
  background: #fff;
  margin: 40px auto;
  max-width: 60%;
  min-width: 300px;
  position: relative;
}

@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300italic,300);

body, h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: lighter;
}

h1 {
  color: #336f82;
}

h2 {
  color: #ec904a;
}

h4 {
  font-size: 1.2em;
  text-transform: uppercase;
}

h5 {
  font-style: italic;
  letter-spacing: 0.01em;
}

p {
  font-size: 1.1em;
}

figcaption {
  background-color: black;
  bottom: 1em;
  font-weight: lighter;
  padding: 0 0.5em;
  position: absolute;
  right: 1.5em;
  text-align: right;
}
figcaption a {
  color: white;
}
figcaption a:hover {
  color: #ec904a;
}

#banner {
  background: url("../images/CubeWhite.svg");
  background-color: #a6cfdc;
  background-size: 3.6em;
  margin: 1em 0 2em;
  padding: 2em 0;
  z-index: 0;
}
#banner img {
  max-width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#banner img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

#aside-sponsors > a {
  display: block;
  text-align: center;
}

a > img {
  margin-bottom: 1.5em;
}

