{% load sponsorship_tags %}
{% load thumbnail %}

{% sponsor_levels as levels %}

<h4>Sponsors</h4>
<hr />
<div class="sponsor-list">
{% sponsor_levels as levels %}
{% for level in levels %}
    {% if level.sponsors %}
        {% for sponsor in level.sponsors %}
            <a href="{{ sponsor.external_url }}"><img src="{{ sponsor.website_logo.url }}" alt="{{ sponsor.name }}" /></a>
        {% endfor %}
    {% endif %}
{% endfor %}
</div>

<h5 class="text-center"><a href="http://pydata.org/sponsor/info">Become a sponsor</a>.</h5>
