<div class="text-center" style="padding-top: 0.5rem">
  <form action="{% url 'time_zone_change' %}" method="post" class="form-inline">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.get_full_path }}">
    <div class="form-group">
      <label for="time_zone">Time Zone</label>
      <select name="time_zone">
        {% for time_zone in TIME_ZONES %}
          <option value="{{ time_zone }}" {% if time_zone == TIME_ZONE %}selected{% endif %}>{{ time_zone }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-default">Change</button>
  </form>
</div>
