{% spaceless %}
{% load account_tags google_analytics i18n menu_tags wagtailuserbar %}
{% endspaceless %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700|Nunito|Open+Sans:300,400" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/mainstream-vc.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ STATIC_URL }}favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ STATIC_URL }}favicon/manifest.json">
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="{{ STATIC_URL }}favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="{{ STATIC_URL }}favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extra_head %}{% endblock %}
    {% if not request.user.is_superuser %}
    {% google_analytics %}
    {% endif %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar "bottom-left" %}
<header>
    {% if cfp_open %}
    <div id="stp1" class="text-center">
        <h3><a href="./cfp/">CALL FOR PROPOSALS <strong>NOW OPEN!</strong></a></h3>
    </div>
    {% endif %}
    <div id="header">
        <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="logo">
                <a href="/"><img alt="PyData" src="{{ STATIC_URL }}images/logo.png" data-rjs="2"></a>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" id="menu">
                <nav class="navbar">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            {% main_menu %}
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
{% block body %}
{% endblock %}
{% if mailchimp_list_id %}
<section>
    <div id="subscibe">
        <div class="container">
            <div class="col-xs-12 sub-sr">
                <h2>Subscribe to Receive PyData Updates</h2>
                <form action="https://numfocus.us9.list-manage.com/subscribe/post?u=c4bde6125a526b0fe180fdc3d&id={{ mailchimp_list_id }}"
                        method="post">
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_c4bde6125a526b0fe180fdc3d_{{ mailchimp_list_id }}" tabindex="-1" value="">
                    </div>
                    <p>
                        <input type="email" class="email-bt inputbox-cs" name="EMAIL" id="mce-EMAIL" placeholder="email address">
                        <input type="submit" value="Submit" class="sm-smb" name="subscribe" id="mc-embedded-subscribe">
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% if ticketing_url %}
<section>
    <div id="early-b2">
        <div class="container">
            <div class="col-xs-12 early-b2-sep">
                <h2>Tickets</h2>
                <a href="{{ ticketing_url }}" class="btn btn4">Get Now</a>
            </div>
        </div>
    </div>
</section>
{% endif %}
<footer>
    <div id="footer">
        <div class="container">
            <div class="col-md-5 col-sm-12 col-xs-12 fsec footer1">
                <h4>CODE OF CONDUCT</h4>
                <p>
                    PyData is dedicated to providing a harassment-free
                    conference experience for everyone, regardless of gender,
                    sexual orientation, gender identity and expression,
                    disability, physical appearance, body size, race, or
                    religion. We do not tolerate harassment of conference
                    participants in any form. All communication should be
                    appropriate for a professional audience including people
                    of many different backgrounds. Sexual language and imagery
                    is not appropriate for any conference venue, including
                    talks. Be kind to others. Do not insult or put down other
                    attendees. Behave professionally. Remember that harassment
                    and sexist, racist, or exclusionary jokes are not
                    appropriate for PyData. Attendees violating these rules
                    may be asked to leave the conference without a refund at
                    the sole discretion of the conference organizers. Thank
                    you for helping make this a welcoming, friendly event
                    for all.
                </p>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12 fsec footer2">
                <h4>CONTACT</h4>
                <address>
                    <p></p>
                    <p class="soc">
                        {% if page.footer_email %}
                        <a href="mailto:{{ page.footer_email }}"><i class="fa fa-envelope"></i>Email</a>
                        {% endif %}
                        {% if page.footer_twitter %}
                        <a href="https://twitter.com/{{ page.footer_twitter }}/"><i class="fa fa-twitter"></i>Twitter</a>
                        {% endif %}
                    </p>
                </address>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12 fsec footer3">
                <h4>ACCOUNT</h4>
                {% if request.user.is_authenticated %}
                <ul>
                    {% if request.user.speaker_profile %}
                    <li><a href="{% url 'speaker_profile' request.user.speaker_profile.pk %}">Speaker Profile</a></li>
                    {% endif %}
                    <li><a href="{% url 'dashboard' %}">{% trans "Dashboard" %}</a></li>
                    {% if request.user.is_staff %}
                    <li><a href="{% url THEME_ADMIN_URL|default:'admin:index' %}">{% trans 'Admin' %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'account_logout' %}">{% trans "Log out" %}</a>
                </ul>
                {% else %}
                <ul>
                    <li><a href="{% url 'account_login' %}">{% trans "Login" %}</a></li>
                    {% if ACCOUNT_OPEN_SIGNUP %}
                    <li><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 fsec footer4">
                <h4>The PyData Conference Series is brought to you by </h4>
                <a href="http://numfocus.org"><img src="{{ STATIC_URL }}images/numfocus.png" data-rjs="2"></a>
            </div>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/retina.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.sticky.js"></script>
<script src="{{ STATIC_URL }}js/jquery.stellar.js"></script>
<script>
    jQuery(function($) {
        $(window).stellar();
        $("#header").sticky({topSpacing: 0});
        $(window).bind('scroll', function(e){
            parallaxScroll();
        });
        function parallaxScroll(){
            var scrolledY = $(window).scrollTop();
            $('.sec1x-elem.sec1x-before').css('background-position-y','+' + ((scrolledY * 0.7)) + 'px');
            $('.sec1x-elem.sec1x-after').css('background-position-y','+' + ((scrolledY * 0.6)) + 'px');
         }
    });
</script>
{% block extra_script %}{% endblock %}
</body>
</html>
