{% extends "base.html" %}

{% load i18n %}
{% load proposal_tags %}
{% load review_tags %}

{% block title %} - Dashboard{% endblock %}

{% block body_class %}auth{% endblock %}

{% block body %}
<div class="container">
    <h2>Dashboard</h2>
    <div class="dashboard-panel">
        <div class="dashboard-panel-account">
            <h3><i class="fa fa-user"></i> {% trans "Account" %}</h3>
            <div class="header-actions">
                <a href="{% url 'account_change_password' %}" class="btn btn-default">
                    <i class="fa fa-lock"></i> {% trans "Change Password" %}
                </a>
                <a href="{% url 'account_email' %}" class="btn btn-default">
                    <i class="fa fa-envelope"></i> {% trans "Manage E-mail Addresses" %}
                </a>
                <a href="{% url 'socialaccount_connections' %}" class="btn btn-default">
                    <i class="fa fa-globe" aria-hidden="true"></i> {% trans "Manage Social Networks" %}
                </a>
                <a href="{% url 'account_logout' %}" class="btn btn-default">
                    <i class="fa fa-sign-out"></i> {% trans "Logout" %}
                </a>
            </div>
        </div>
    </div>
    <div class="dashboard-panel">
        <div class="dashboard-panel-speaking">
            <h3>
                <i class="fa fa-bullhorn"></i>
                {% trans "Speaking" %}
            </h3>
            <div class="pull-right header-actions">
                {% if not user.speaker_profile %}
                    <a href="{% url "speaker_create" %}" class="btn btn-default">
                        <i class="fa fa-plus"></i> Create a speaker profile
                    </a>
                {% else %}
                    <a href="{% url "speaker_edit" %}" class="btn btn-default">
                        <i class="fa fa-pencil"></i> Edit your speaker profile
                    </a>
                    <a href="{% url "proposal_submit" %}" class="btn btn-default">
                        <i class="fa fa-plus"></i> Submit a new proposal
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="dashboard-panel-content">
            {% if not user.speaker_profile %}
                <p>To submit a proposal, you must first <a href="{% url "speaker_create" %}">create a speaker profile</a>.</p>
            {% else %}
                <h4>Your Proposals</h4>
                {% if user.speaker_profile.proposals.exists %}
                    <div class="table-responsive"><table class="table">
                        <tr>
                            <th>Title</th>
                            <th>Session type</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        {% for proposalbase in user.speaker_profile.proposals.all %}
                            {% with proposal=proposalbase.proposal %}
                                {% include "symposion/proposals/_proposal_row.html" %}
                            {% endwith %}
                        {% endfor %}
                    </table></div>
                {% else %}
                    <p>No proposals submitted yet.</p>
                {% endif %}

                {% associated_proposals as associated_proposals %}
                {% if associated_proposals %}
                    <h4>Proposals you have joined as an additional speaker</h4>
                    <div class="table-responsive"><table class="table">
                        <tr>
                            <th>Title</th>
                            <th>Session type</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        {% for proposal in associated_proposals %}
                            {% include "symposion/proposals/_proposal_row.html" %}
                        {% endfor %}
                    </table></div>
                {% endif %}

                {% pending_proposals as pending_proposals %}
                {% if pending_proposals %}
                    <h4>Proposals you have been invited to join</h4>
                    <div class="table-responsive"><table class="table">
                        <tr>
                            <th>Title</th>
                            <th>Session type</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        {% for proposal in pending_proposals %}
                            {% include "symposion/proposals/_pending_proposal_row.html" %}
                        {% endfor %}
                    </table></div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="dashboard-panel">
        <div class="dashboard-panel-header">
            <h3>
                <i class="fa fa-briefcase"></i>
                {% trans "Sponsorship" %}
            </h3>
            <div class="pull-right header-actions">
                {% if not user.sponsorships.exists %}
                    <a href="{% url "sponsor_apply" %}" class="btn btn-default">
                        <i class="fa fa-plus"></i> Apply to be a sponsor
                    </a>
                {% endif %}
                {% if user.is_staff %}
                <br>
                <a href="{% url 'sponsor_add' %}" class="btn btn-default">
                    <i class="fa fa-plus"></i> Add a sponsor
                </a><br>
                <a href="{% url 'sponsor_zip_logos' %}" class="btn btn-default">
                    <i class="fa fa-download"></i> Download sponsor logos
                </a><br>
                {% endif %}
            </div>
        </div>

        <div class="dashboard-panel-content">
            {% if not user.sponsorships.exists %}
                <p>If you or your organization would be interested in sponsorship opportunities, <a href="{% url "sponsor_apply" %}">use our online form to apply to be a sponsor</a>.
            {% else %}
                <h4>Your Sponsorship</h4>
                <ul>
                    {% for sponsorship in user.sponsorships.all %}
                        <li>
                            <a href="{% url "sponsor_detail" sponsorship.pk %}"><b>{{ sponsorship.name }}</b></a>
                            ({{ sponsorship.level }})
                            {% if not sponsorship.active %}
                                <span class="label label-warning">awaiting approval</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if user.is_staff %}
                <p>
                    As staff, you can directly <a href="{% url "sponsor_add" %}">add a sponsor</a> if the organization isn't
                    applying themselves.
                </p>
            {% endif %}
        </div>
    </div>

    {% if request.user|is_reviewer or request.user.is_superuser %}
        <div class="dashboard-panel">
            <div class="dashboard-panel-header">
                <h3>
                    <i class="fa fa-briefcase"></i>
                    {% trans "Reviews" %}
                </h3>
            </div>

            <div class="dashboard-panel-content">
                <ul>
                    {% if request.user.is_superuser %}
                    <li><a href="{% url 'reviewer_import' %}">Import Reviewers (CSV)</a></li>
                    {% endif %}
                    <li><a href="{% url 'review_proposal_list' %}">All Proposals</a></li>
                    {% if config.PROPOSAL_KEYWORDS %}
                    <li><a href="{% url 'review_keyword_list' %}">By Keyword</a></li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <li><a href="{% url 'review_proposal_result_list' 'A' %}">Accepted Proposals</a></li>
                    <li><a href="{% url 'review_proposal_result_list' 'R' %}">Rejected Proposals</a></li>
                    <li><a href="{% url 'review_proposal_result_list' 'S' %}">Standby Proposals</a></li>
                    <li><a href="{% url 'review_proposal_result_list' 'U' %}">Undecided Proposals</a></li>
                    {% endif %}
                </ul>
            </div>
    </div>
    {% endif %}

    {% if request.user.is_superuser %}
    <div class="dashboard-panel">
        <div class="dashboard-panel-header">
            <h3>
                <i class="fa fa-database"></i>
                {% trans "Export" %}
            </h3>
        </div>

        <div class="dashboard-panel-content">
            <ul>
                <li><a href="{% url 'schedule_json' %}">Conference Schedule (JSON)</a></li>
                {% for schedule in schedules %}
                <li><a href="{% url 'schedule_list_csv' schedule.section.slug %}">{{ schedule.section.name }} Presentations (CSV)</a></li>
                {% endfor %}
                <li><a href="{% url 'presentation_speaker_export' %}">Speakers & Presentations (CSV)</a></li>
                <li><a href="{% url 'speaker_email_export' %}">Accepted Speaker Email Addresses (CSV)</a></li>
                <li><a href="{% url 'proposal_export' %}">Proposals (CSV)</a></li>
                <li><a href="{% url 'proposal_submitter_export' %}">Proposal Submitters (CSV)</a></li>
                <li><a href="{% url 'sponsor_export' %}">Sponsors (CSV)</a></li>
                <li><a href="{% url 'reviewer_export' %}">Reviewers (CSV)</a></li>
                <li><a href="{% url 'submission_export' %}">Submissions (CSV)</a></li>
            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
