body{
    font-family: Roboto, sans-serif;
}
.font-family-base,.ova_tab .vc_toggle_active .vc_toggle_title h4 {
    font-family: Roboto, sans-serif !important;
}
.font-family-alt,.btn,.mfp-title,.mfp-counter, .ovatheme_header_default .dropdown-menu>.active>a, .header_v1 .dropdown-menu>.active>a{
    font-family: Montserrat, sans-serif !important;
}
.title-sideline-base-color:before {
    background-color: #4c9cb4;
}
.title-strikethrough-base-color:before {
    background-color: #4c9cb4;
}
.text-base-color {
    color: #4c9cb4 !important;
}
.text-hover-base-color:hover,
.text-hover-base-color:focus {
    color: #4c9cb4 !important;
}
.bg-base-color {
    background-color: #4c9cb4 !important;
}
.bg-hover-base-color:hover {
    background-color: #4c9cb4 !important;
}
.border-base-color {
    border-color: #4c9cb4 !important;
}
.btn.btn-base-color {
    background-color: #4c9cb4;
}
.btn.btn-base-color.btn-hover-transparent:hover {
    border-color: #4c9cb4;
    color: #4c9cb4;
}
.btn.btn-outline-base-color {
    border-color: #4c9cb4;
    color: #4c9cb4;
}
.btn.btn-outline-base-color:hover,
.btn.btn-outline-base-color:focus {
    background-color: #4c9cb4;
}
.btn.btn-outline-base-color.btn-hover-transparent:hover,
.btn.btn-outline-base-color.btn-hover-transparent:focus {
    color: #4c9cb4;
}
.panel-group .panel.active .panel-heading {
    background-color: #4c9cb4;
}
.timeline-item.highlight:before {
    background-color: #4c9cb4;
    border: #4c9cb4;
}
.navbar.navbar-white.shrink .navbar-nav > li > a.active,
.navbar .navbar-nav > li > a.active,
.navbar .navbar-nav > li.active>a{
    color: #4c9cb4;
}
.header_v1 .dropdown-menu>.active>a, .header_v1  .dropdown-menu>.active>a:hover, .header_v1  .dropdown-menu>.active>a:focus{
    color: #4c9cb4;
}
.page:not(.home) nav {
    background-color: #000;
}
.eventbrite-btn {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.patter_bg {
    pointer-events: none;
}
a:link { color: #4c9cb4; }
a:hover { color: #f08c44; }
/*************************************/
.btn.btn-default {
    border-color: #ccc;
}
.btn.btn-info:hover {
    background-color: #1b6d85;
}
.btn.btn-success:hover {
    background-color: #398439;
}
.btn.btn-warning:hover {
    background-color: #ec971f;
}
.btn.btn-danger:hover {
    background-color: #ac2925;
}
label.formfield-required:after {
    color: red;
    content:" *";
}
input[type="checkbox"] {
    max-width: inherit;
    width: inherit;
}

table.calendar tr{min-height:36px}
table.calendar th{background-color:#ee904199;text-align:center}
table.calendar th.time{width:60px}
table.calendar td{text-align:center;vertical-align:middle}
table.calendar td p {font-size:14px;}
table.calendar td.time{vertical-align:top;padding-top:0;margin-top:0;color:#444;font-size:11px}
table.calendar td.slot{font-weight:bold;text-shadow:#fff 0 1px 0;vertical-align:middle}
/* Colors for different slot kinds. Currently disabled.
table.calendar td.slot.slot-break{background-color:#ecffff}
*/
table.calendar td.slot.slot-plenary{background-color:#e1edf7}
/*
table.calendar td.slot.slot-talk{background-color:#e1edf7}
table.calendar td.slot.slot-tutorial{background-color:#fbe5d4}
table.calendar td.slot.slot-discussion{background-color:#b8d9e3}
*/
table.calendar td.slot p{padding:0;margin:0;line-height:20px}
table.calendar td span.title{font-weight:bold;display:block}
table.calendar td span.speaker{font-weight:normal;display:block}
