{% extends "symposion/speakers/base.html" %}

{% load bootstrap flatblocks i18n %}

{% block page_title %}{% trans "Edit Speaker Profile" %}{% endblock %}

{% block body %}
    {% flatblock "speaker-profile" %}

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <legend>{% trans "Edit Speaker Profile" %}</legend>
        <fieldset>
            {{ form|bootstrap }}
        </fieldset>
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="Save" />
            <a class="btn btn-default" href="{% url "dashboard" %}">Cancel</a>
        </div>
    </form>
{% endblock %}
