{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load thumbnail %}


{% block title %} - {{ speaker.name }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3 speaker-social">
            {% if speaker.photo %}
                <img src="{% thumbnail speaker.photo '256x256' %}" alt="Photo of {{ speaker.name }}" />
            {% else %}
                &nbsp;
            {% endif %}
            {% if speaker.twitter_username %}
            <div><a href="https://twitter.com/{{ speaker.twitter_username }}/">
                <i class="fa fa-twitter"></i>
                @{{ speaker.twitter_username }}
            </a></div>
            {% endif %}
        </div>
        <div class="col-md-9">
            {% if speaker.user == request.user or request.user.is_staff %}
                <a class="btn btn-default pull-right" href="{% url "speaker_edit" speaker.pk %}">Edit</a>
            {% endif %}
            <h1>{{ speaker.name }}</h1>
            <div class="bio">{{ speaker.biography_html|safe }}</div>

            <h2>Presentations</h2>
            {% for presentation in presentations %}
                <h3><a href="{% url "schedule_presentation_detail" presentation.pk presentation.slug %}">{{ presentation.title }}</a></h3>
                {% if presentation.slot %}
                    <p>
                        {{ presentation.slot.day.date|date:"l" }}
                        {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }}
                        {% if presentation.slot.rooms %}
                            in {{ presentation.slot.rooms|join:", " }}
                        {% endif %}
                    </p>
                {% endif %}
            {% empty %}
                <p>No presentations. This page is only visible to staff until there is a presentation.<p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
