{% extends "base.html" %}

{% load bootstrap i18n %}

{% block title %} - {% trans "Create Speaker Profile" %}{% endblock %}

{% block body %}
<div class="container">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <legend>{% trans "Create Speaker Profile" %}</legend>
        <fieldset>
            {{ speaker_form|bootstrap }}
        </fieldset>
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="Save" />
            <a class="btn btn-default" href="{% url "dashboard" %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
