<div class="btn-toolbar" role="toolbar" style="margin-bottom: 1rem">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" name="select_all">
      Select All
    </button>
    <button type="button" class="btn btn-default" name="select_none">
      Select None
    </button>
  </div>
  <div class="btn-group" role="group">
    {% if proposal_category != "Accepted" %}
    <button type="submit" class="btn btn-success btn-status" name="mark_status" value="A">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i> Mark Selected Accepted
    </button>
    {% else %}
    <button type="submit" class="btn btn-success btn-status" name="create_presentations" value="expecto presentation">
        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Create Presentations
      </button>
    {% endif %}
    {% if proposal_category != "Rejected" %}
    <button type="submit" class="btn btn-danger btn-status" name="mark_status" value="R">
      <i class="fa fa-thumbs-down" aria-hidden="true"></i> Mark Selected Rejected
    </button>
    {% endif %}
    {% if proposal_category != "Standby" %}
    <button type="submit" class="btn btn-warning btn-status" name="mark_status" value="S">
      <i class="fa fa-pause" aria-hidden="true"></i> Mark Selected Standby
    </button>
    {% endif %}
    {% if proposal_category != "Undecided" %}
    <button type="submit" class="btn btn-default btn-status" name="mark_status" value="U">
        🤷 Mark Selected Undecided
    </button>
    {% endif %}
  </div>
</div>
