{% load crispy_forms_tags i18n %}
<div class="tab-pane" id="proposal-feedback">
    {% for feedback in proposal.review_feedback.all %}<hr><p>
      {% if not request.user.is_superuser and config.BLIND_AUTHORS and actor == "speaker" and feedback.author != request.user %}
        <b>Anonymous</b>
      {% elif not request.user.is_superuser and config.BLIND_REVIEWERS and actor == "reviewer" and feedback.author != request.user %}
        <b>Anonymous</b>
      {% else %}
        <b>{{ feedback.author.get_full_name|default:feedback.author.username }}</b>:
      {% endif %}
      {% if request.user.is_superuser or not config.PRIVATE_REVIEWS or actor == "speaker" or feedback.author == proposal.speaker.user or feedback.author == request.user %}
        {{ feedback.comment_html|safe }}
      {% endif %}
    </p>{% endfor %}
      <form method="POST" action="{% url 'review_proposal_feedback' proposal.id %}" class="review-form">
        <legend>Write Feedback:</legend>
        {% csrf_token %}
        <input type="hidden" name="proposal_id" value="{{ proposal.id }}">
        {{ feedback_form|crispy }}
        <div class="form-action">
          <input type="submit" class="btn btn-base-color" name="feedback_submit" value="Submit Feedback" />
        </div>
      </form>
    </p>
  </div>
