<div class="btn-group" role="group" style="margin-bottom: 1rem">
  <button type="submit" class="btn btn-success" name="mark_status" value="A">
    <i class="fa fa-thumbs-up" aria-hidden="true"></i> Mark Selected Approved
  </button>
  <button type="submit" class="btn btn-danger" name="mark_status" value="R">
    <i class="fa fa-thumbs-down" aria-hidden="true"></i> Mark Selected Rejected
  </button>
  <button type="submit" class="btn btn-warning" name="mark_status" value="S">
    <i class="fa fa-pause" aria-hidden="true"></i> Mark Selected Standby
  </button>
  <button type="submit" class="btn btn-default" name="mark_status" value="U">
      🤷 Mark Selected Undecided
  </button>
</div>
