<ul class="nav nav-pills">
  <li><a href="{% url 'review_proposal_list' %}">All Proposals</a></li>
{% if config.PROPOSAL_KEYWORDS %}
  <li><a href="{% url 'review_keyword_list' %}">By Keyword</a></li>
{% endif %}
{% if request.user.is_superuser %}
  <li><a href="{% url 'review_proposal_result_list' 'A' %}">Accepted Proposals</a></li>
  <li><a href="{% url 'review_proposal_result_list' 'R' %}">Rejected Proposals</a></li>
  <li><a href="{% url 'review_proposal_result_list' 'S' %}">Standby Proposals</a></li>
  <li><a href="{% url 'review_proposal_result_list' 'U' %}">Undecided Proposals</a></li>
{% endif %}
{% for kind in kind_list %}
  <li><a href="{% url 'review_proposal_kind_list' kind.slug %}">All {{ kind.name }}s</a></li>
{% endfor %}
</ul>
