{% extends "base.html" %}
{% load crispy_forms_tags i18n %}

{% block title %} - Reviewing - {{ proposal.title }}{% endblock %}


{% block body %}
<div class="container">
  {% if actor == "reviewer" or  request.user.is_superuser %}
    {% include "reviews/_proposal_mini_navigation.html" %}
  {% endif %}
  <h2>{{ proposal.title }}</h2>

  {% if config.BLIND_REVIEWERS and request.user.is_superuser %}
    <p class="bg-info">
      Your superuser status is ignoring the enabled
      <strong>BLIND_REVIEWERS</strong> setting.
    </p>
  {% endif %}

  <div class="pull-right">
    {% if not proposal.cancelled %}
      {% if request.user == proposal.speaker.user %}
        {% if proposal.can_edit %}<a href="{% url "proposal_edit" proposal.pk %}" class="btn btn-default">
          {% trans "Edit this proposal" %}
        </a>{% endif %}
        <a href="{% url "proposal_cancel" proposal.pk %}" class="btn btn-default">
          {% trans "Cancel this proposal" %}
        </a>
      {% elif request.user.is_superuser %}<div class="div-proposal-result-buttons">
        <strong>Status:
        {% if proposal.review_result %}
          {{ proposal.review_result.get_status_display }}
        {% else %}
          Undecided
        {% endif %}</strong><br>
        <a class="btn btn-success" href="{% url 'review_proposal_change_result' proposal.pk 'A' %}"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Approve</a>
        <a class="btn btn-default" href="{% url 'review_proposal_change_result' proposal.pk 'U' %}">🤷 Mark Undecided</a>
        <a class="btn btn-danger" href="{% url 'review_proposal_change_result' proposal.pk 'R' %}"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Reject</a>
        <a class="btn btn-warning" href="{% url 'review_proposal_change_result' proposal.pk 'S' %}"><i class="fa fa-pause" aria-hidden="true"></i> Standby</a>
      </div>{% endif %}
    {% else %}
      {% trans 'Cancelled' }
    {% endif %}
  </div>

  <div>
    <ul class="nav nav-pills">
      <li>
        <a href="#proposal-detail">
          {% trans "Proposal Details" %}
        </a>
      </li>
      {% if actor == "reviewer" %}<li>
        <a href="#proposal-reviews">
          {% trans "Reviews" %}
          <span class="badge">{{ proposal.review_votes.count }}</span>
        </a>
      </li>{% endif %}
      {% if request.user.is_superuser or request.user == proposal.speaker.user %}<li>
        <a href="#proposal-feedback">
          {% trans "Speaker Feedback" %}
          <span class="badge">{{ proposal.feedback_count }}</span>
        </a>
      </li>{% endif %}
    </ul>
  <div>
    <div id="proposal-detail">
      {% include "symposion/proposals/_proposal_fields.html" %}
    </div>
    {# Only show reviews if user is a reviewer. #}
    {% if actor == "reviewer" %}<div class="tab-pane" id="proposal-reviews">
      <h3>Votes</h3>
      {% for review_vote in proposal.review_votes.all %}<hr><p>
        <h4>
          {% if not request.user.is_superuser and config.BLIND_REVIEWERS and review_vote.voter != request.user %}
            Anonymous
          {% else %}
            {{ review_vote.voter.username }}
          {% endif %}
          ({{ review_vote.get_score_display }})
        </h4>
        {{ review_vote.comment_html|safe }}
      </p>{% endfor %}
      <form method="POST" action="{% url 'review_proposal_vote' proposal.id %}" class="review-form">
        <legend>{% if existing_vote %}{% trans 'Update Review' %}{% else %}{% trans 'Submit Review' %}{% endif %}</legend>
        <p>
          Enter your vote and any comment to go along with it.
          You can revise your vote or comment multiple times
          (your previously recorded vote will be replaced).
        </p>
        {% csrf_token %}
        <input type="hidden" name="proposal_id" value="{{ proposal.id }}">
        {{ vote_form|crispy }}
        <div class="form-action">
          <input type="submit" class="btn btn-primary" name="vote_submit"
              value="{% if existing_vote %}{% trans 'Update Review' %}{% else %}{% trans 'Submit Review' %}{% endif %}">
        </div>
      </form>
    </div>{% endif %}
    {% if request.user.is_superuser or request.user == proposal.speaker.user %}{% include "reviews/_proposal_feedback_tab.html" %}{% endif %}
  </div>
</div>
{% endblock %}
