{% extends "base.html" %}
{% load bootstrap i18n review_tags %}
{% load static from staticfiles %}

{% block title %} - Reviewing {{ proposal_category }} Proposals{% endblock %}

{% block body %}
<div class="container">
  {% include "reviews/_proposal_mini_navigation.html" %}
  <h2>{% block page-title %}{{ proposal_category }} Proposals{% endblock %}</h2>
  {% if config.BLIND_REVIEWERS and request.user.is_superuser %}
    <p class="bg-info">
      Your superuser status is ignoring the enabled
      <strong>BLIND_REVIEWERS</strong> setting.
    </p>
  {% endif %}
  <p>
    Currently showing <strong>{{ proposal_list|length }}</strong> proposals
    (<strong>{{ num_talks }}</strong> talks,
    <strong>{{ num_tutorials }}</strong> tutorials).
  </p>
  {% if request.user.is_superuser %}
  <form method="post" action="{% url 'review_multiedit' %}">
    {% csrf_token %}
    {% include 'reviews/_proposal_multiedit_buttons.html' %}
  {% endif %}
  <table class="table table-bordered table-hover" id="table-proposals">
    <thead>
      {% if request.user.is_superuser %}
        <th></th>
      {% endif %}
      <th>{% trans "Number" %}</th>
      {% if not config.BLIND_REVIEWERS or request.user.is_superuser %}
        <th>{% trans "Speaker" %}</th>
      {% endif %}
      <th>{% trans "Title" %}</th>
      <th>{% trans "Category" %}</th>
      <th><i class="fa fa-comment" title="{% trans 'Messages' %}"></i></th>
      <th>{% trans "+1" %}</th>
      <th>{% trans "+0" %}</th>
      <th>{% trans "-0" %}</th>
      <th>{% trans "-1" %}</th>
      <th><a href="#" class="tip" title="{% trans 'Your Rating' %}"><i class="fa fa-user"></i></a></th>
      <th>{% trans "Status" %}</th>
    </thead>
    <tbody>
      {% for proposal in proposal_list %}<tr>
        {% if request.user.is_superuser %}
          <td><input type="checkbox" name="proposal_pk" value="{{ proposal.pk }}"></td>
        {% endif %}
        <td>{{ proposal.number }}</td>
        {% if not config.BLIND_REVIEWERS or request.user.is_superuser %}
          <td>{{ proposal.speaker.name }}</td>
        {% endif %}
        <td>
          <a href="{% url 'review_proposal_detail' proposal.pk %}">
            {{ proposal.title }}
          </a>
        </td>
        <td>{{ proposal.kind.name }}</td>
        <td>{{ proposal.review_feedback.count }}</td>
        <td>{{ proposal.plus_one }}</td>
        <td>{{ proposal.plus_zero }}</td>
        <td>{{ proposal.minus_zero }}</td>
        <td>{{ proposal.minus_one }}</td>
        <td>{% user_score proposal request.user %}</td>
        <td>
          {% if proposal.review_result %}
            {{ proposal.review_result.get_status_display }}
          {% else %}
            Undecided
          {% endif %}
        </td>
      </tr>{% endfor %}
    </tbody>
  </table>
  {% if request.user.is_superuser %}
  {% include 'reviews/_proposal_multiedit_buttons.html' %}
  <h3>Send Email Message</h3>
  <p><em>This will send an email message to all selected proposals.</em></p>
  {{ notification_form|bootstrap }}
  <div class="btn-group" role="group" style="margin-bottom: 1rem">
    <button type="submit" class="btn btn-standard" name="send_notification" value="EHLO">
      <i class="fa fa-envelope" aria-hidden="true"></i> Send Email Message
    </button>
  </div>
  </form>
  {% endif %}
</div>
{% endblock %}

{% block extra_script %}
<script src="{% static 'js/jquery.tablesorter.js' %}"></script>
<script src="{% static 'js/jquery.tablesorter.widgets.js' %}"></script>
<script>
  $(function() {
    $("#table-proposals").tablesorter({
      cssIcon: "fa",
      cssIconAsc: "fa-sort-asc",
      cssIconDesc: "fa-sort-desc",
      headerTemplate: "{content} {icon}",
    });
  });
</script>
{% endblock %}