@import "settings";
@import "foundation";
@import "base";
@import 'compass/css3/filter';
@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300italic,300);

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

//Fonts
body, h1, h2, h3, h4, h5, h6, p, li {
	font-family: 'Lato', sans-serif;
  font-weight: normal;
}

h2 {
  color: $orange;
  font-weight: lighter;
}

figcaption {
  bottom: 1em;
  position: absolute;
  right: 2.5em;
  text-align: right;
  font-weight: lighter;
  a {
    color: white;
    &:hover {
      color: $orange;
    }
  }
}

#banner {
  z-index: 0;
  width: 100%;
  @include filter(grayscale(100%));
  &:hover {
    @include filter(grayscale(0));
  }
}

.overlay {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: white;
  padding: 2em;
  top: 10em;
}
