@import "settings";
@import "foundation";
@import "base";
@import 'compass/css3/filter';
@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300italic,300);

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

//
// Typography
//
body, h1, h2, h3, h4, h5, h6, p, li {
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: lighter;
}

h1 {
  color: darken($blue, 15%);
}

h2 {
  color: $orange;
}

h3 {
}

h4 {
  font-size: 1.2em;
  text-transform: uppercase;
}

h5 {
  font-style: italic;
  letter-spacing: 0.01em;
}

p {
  font-size: 1.1em;
}

figcaption {
  background-color: black;
  bottom: 1em;
  font-weight: lighter;
  padding: 0 0.5em;
  position: absolute;
  right: 1.5em;
  text-align: right;
  a {
    color: white;
    &:hover {
      color: $orange;
    }
  }
}

//
// Layout
//
#banner {
  background: url("../images/CubeWhite.svg"); 
  background-color: lighten($blue, 25%);
  background-size: 3.6em;
  margin: 1em 0 2em;
  padding: 2em 0;
  z-index: 0;
  img {
  	@include filter(grayscale(100%));
  	&:hover {
      @include filter(grayscale(0));
  	}
  }
}
#aside-sponsors > a {
  display: block;
  text-align: center;
}
//Override padding on first column
.row > .row {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

a > img {
  margin-bottom: 1.5em;
}
