{% load i18n %}

<dl class="dl-horizontal">
    <dt>{% translate "Category" %}</dt>
    <dd>{{ proposal.kind.name }}</dd>
    {% if not config.BLIND_REVIEWERS or request.user.is_superuser %}
    <dt>{% translate "Submitted by" %}</dt>
    <dd>{{ proposal.speaker.name }}</dd>
    <dt>Affiliation</dt>
    <dd>{{ proposal.affiliation }}</dd>
    {% endif %}

    {% if config.PROPOSAL_KEYWORDS %}
    {% if request.user != proposal.speaker.user %}
    <dt>Editor Keywords</dt>
    <dd>{% for keyword in proposal.editor_keywords.all %}
        <a href="{% url 'review_keyword_detail' keyword.slug %}">{{ keyword }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}</dd>
    {% endif %}

    <dt>Official Keywords</dt>
    <dd>{% for keyword in proposal.official_keywords.all %}
        <a href="{% url 'review_keyword_detail' keyword.slug %}">{{ keyword }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}</dd>

    <dt>Additional Keywords</dt>
    <dd>{% for keyword in proposal.user_keywords.all %}
        <a href="{% url 'review_keyword_detail' keyword.slug %}">{{ keyword }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}</dd>
    {% endif %}

    <dt>{% translate "Prior Knowledge?" %}</dt>
    <dd>
        {{ proposal.get_prior_knowledge_display }}&nbsp;
        {% if proposal.prior_knowledge == "Y" %}
            <br>{{ proposal.prior_knowledge_details }}
        {% endif %}
    </dd>

    {% if not config.BLIND_REVIEWERS or request.user.is_superuser %}
        {% if proposal.additional_speakers.all %}
            <dt>{% translate "Additional Speakers" %}</dt>
            <dd>
                {% for speaker in proposal.additional_speakers.all %}
                    <li><strong>{{ speaker.name }}</strong></li>
                {% endfor %}
            </dd>
        {% endif %}
    {% endif %}

    <dt>{% translate "Brief Summary" %}</dt>
    <dd>{{ proposal.description }}&nbsp;</dd>

    <dt>{% translate "Description" %}</dt>
    <dd>{{ proposal.abstract_html|safe }}&nbsp;</dd>

    {% if not config.BLIND_REVIEWERS or request.user.is_superuser %}
    <dt>{% translate "Notes" %}</dt>
    <dd>{{ proposal.additional_notes_html|safe }}&nbsp;</dd>
    {% endif %}

    {% if config.PROPOSAL_URL_FIELDS %}
        {% if proposal.slides_url %}
            <dt>Slides</dt>
            <dd><a href="{{ proposal.slides_url }}">{{ proposal.slides_url }}</a></dd>
        {% endif %}
        {% if proposal.code_url %}
            <dt>Code</dt>
            <dd><a href="{{ proposal.code_url }}">{{ proposal.code_url }}</a></dd>
        {% endif %}
    {% endif %}

    {% if not config.BLIND_REVIEWERS or request.user.is_superuser %}
    <dt>{% translate "Speaker Bio" %}</dt>
    <dd>{{ proposal.speaker.biography_html|safe }}&nbsp;</dd>
    {% endif %}

    <dt>{% translate "Documents" %}</dt>
    <dd>
        {% if proposal.supporting_documents.exists %}
            <table class="table table-striped">
                {% for document in proposal.supporting_documents.all %}
                    <tr>
                        <td><a href="{{ document.download_url }}">{{ document.description }}</a></td>
                        <td>
                        <form style="margin: 0;" method="post" action="{% url "proposal_document_delete" document.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn">delete</button>
                        </form>
                    </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            No supporting documents attached to this proposal.
        {% endif %}
    </dd>
</dl>
