{% load i18n %}

<dl class="dl-horizontal">
    <dt>{% trans "Submitted by" %}</dt>
    <dd>{{ proposal.speaker.name }}</dd>

    {% if request.user != proposal.speaker.user %}
    <dt>Editor Keywords</dt>
    <dd>{% for keyword in proposal.editor_keywords.all %}{{ keyword }}{% if not forloop.last %}, {% endif %}{% endfor %}</dd>
    {% endif %}

    <dt>Official Keywords</dt>
    <dd>{% for keyword in proposal.official_keywords.all %}{{ keyword }}{% if not forloop.last %}, {% endif %}{% endfor %}</dd>

    <dt>Additional Keywords</dt>
    <dd>{% for keyword in proposal.user_keywords.all %}{{ keyword }}{% if not forloop.last %}, {% endif %}{% endfor %}</dd>


    <dt>{% trans "Audience Level" %}</dt>
    <dd>{{ proposal.get_audience_level_display }}&nbsp;</dd>

    {% if proposal.additional_speakers.all %}
        <dt>{% trans "Additional Speakers" %}</dt>
        <dd>
            {% for speaker in proposal.additional_speakers.all %}
                <li><strong>{{ speaker.name }}</strong></li>
            {% endfor %}
        </dd>
    {% endif %}

    <dt>{% trans "Description" %}</dt>
    <dd>{{ proposal.description }}&nbsp;</dd>

    <dt>{% trans "Abstract" %}</dt>
    <dd>{{ proposal.abstract_html|safe }}&nbsp;</dd>

    <dt>{% trans "Notes" %}</dt>
    <dd>{{ proposal.additional_notes_html|safe }}&nbsp;</dd>

    <dt>{% trans "Speaker Bio" %}</dt>
    <dd>{{ proposal.speaker.biography_html|safe }}&nbsp;</dd>

    <dt>{% trans "Documents" %}</dt>
    <dd>
        {% if proposal.supporting_documents.exists %}
            <table class="table table-striped">
                {% for document in proposal.supporting_documents.all %}
                    <tr>
                        <td><a href="{{ document.download_url }}">{{ document.description }}</a></td>
                        <td>
                        <form style="margin: 0;" method="post" action="{% url "proposal_document_delete" document.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn">delete</button>
                        </form>
                    </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            No supporting documents attached to this proposal.
        {% endif %}
    </dd>
</dl>
