{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Upload Document to '{{ proposal.title }}' | {% endblock %}

{% block body %}
<div class="container">
    <form method="POST" action="" enctype="multipart/form-data" class="form form-horizontal">
        {% csrf_token %}
        <fieldset>
            {{ form|crispy }}
        </fieldset>
        <div class="form-actions">
            <input class="btn btn-base-color" type="submit" value="Upload" />
        </div>
    </form>
</div>
{% endblock %}
