{% extends "base.html" %}

{% load crispy_forms_tags i18n %}

{% block title %}Submit a Proposal for a {{ kind.name }} | {% endblock %}

{% block body %}
<div class="container">
    <h1>Submit a {{ kind.name }}</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>An asterisk (<span style="color:red;font-weight:bold">*</span>) indicates a required field.</legend>
            {{ proposal_form|crispy }}
        </fieldset>
        <div class="form-group form-actions">
            <p>
                You will be able to edit your proposal after it has been submitted. The program committee may ask questions, provide feedback, and even suggest changes to your proposal as part of the review processes.
            </p>
            <input class="btn btn-base-color" type="submit" name="finish" value="Save" />
            <!-- <span style="float: right; padding: 4px 6px">or</span> -->
            <input class="btn btn-default" type="submit" name="add-speakers" value="Save and Add Additional Speakers" />
        </div>
    </form>
</div>
{% endblock %}

{% block extra_script %}
<script>
function prior_knowledge_details_display(){
    if( jQuery("#id_prior_knowledge").val() == "Y"){
        jQuery("div#div_id_prior_knowledge_details").show();
    } else {
        jQuery("div#div_id_prior_knowledge_details").hide();
    }
};
function recording_url_display(){
    if( jQuery("#id_recording_online").val() == "True"){
        jQuery("div#div_id_recording_url").show();
    } else {
        jQuery("div#div_id_recording_url").hide();
    }
}
function under_represented_checkbox_display(){
    if( jQuery("#id_under_represented_group").val() == "Y"){
        jQuery("div#div_id_under_represented_details").show();
    } else {
        jQuery("div#div_id_under_represented_details").hide();
    }
};
function under_represented_other_field_display(){
    if( jQuery("#id_under_represented_details_8").is(":checked") ){
        jQuery("div#div_id_under_represented_other").show();
    } else {
        jQuery("div#div_id_under_represented_other").hide();
    }
};
jQuery(document).ready(function(){
    jQuery("select#id_time_zone").select2();
    prior_knowledge_details_display();
    recording_url_display();
    under_represented_checkbox_display();
    under_represented_other_field_display();
});
jQuery("#id_prior_knowledge").change(function(){
    prior_knowledge_details_display();
});
jQuery("#id_recording_online").change(function(){
    recording_url_display();
});
jQuery("#id_under_represented_group").change(function(){
    under_represented_checkbox_display();
});
jQuery("#id_under_represented_details_8").change(function(){
    under_represented_other_field_display();
});
</script>
{% endblock %}
