{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Manage Speakers | {% endblock %}

{% block body %}
<div class="container">
    <h1>{% translate 'Proposal:' %} {{ proposal.title }}</h1>

    <p>
      <a href="{% url "proposal_edit" proposal.pk %}">{% translate 'Edit proposal' %}
      </a>
    </p>

    <h2>{% translate 'Current Speakers' %}</h2>

    <ul class="list-group">{% for speaker in speakers %}{% spaceless %}
        <li class="list-group-item">
            {% if speaker.name %}
                {{ speaker.name }}
            {% else %}
                {{ speaker.email }}
            {% endif %}
            {% if not speaker.user %}
                <span class="label label-warning">{% translate 'No User Account' %}</span>
            {% elif speaker.user == request.user %}
                <span class="label label-primary">{% translate 'You' %}</span>
            {% elif speaker in proposal.speakers %}
                <span class="label label-success">{% translate 'Associated' %}</span>
            {% endif %}
        </li>
    {% endspaceless %}{% endfor %}</ul>

    {% if invited_speakers %}<h2>{% translate 'Invited Speakers' %}</h2>

    <ul class="list-group">{% for invited_speaker in invited_speakers %}{% spaceless %}
        <li class="list-group-item">
            {% if invited_speaker.speaker.name %}
                {{ invited_speaker.speaker.name }}
            {% else %}
                {{ invited_speaker.speaker.email }}
            {% endif %}
            {% if invited_speaker.status == invited_speaker.SPEAKING_STATUS_PENDING %}
                <span class="label label-warning">{% translate 'Pending' %}</span>
            {% else %}
                <span class="label label-danger">{% translate 'Declined' %}</span>
            {% endif %}
        </li>
    {% endspaceless %}{% endfor %}</ul>{% endif %}

    <h2>{% translate 'Add another speaker' %}</h2>

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ add_speaker_form|crispy }}
        <div class="form-action">
            <input type="submit" value="Add speaker" class="btn btn-base-color" />
        </div>
    </form>
</div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
    $(function() {
        $("#id_email").focus();
    });
    </script>
{% endblock %}
