{% extends "symposion/proposals/proposal_submit_kind.html" %}

{% load crispy_forms_tags %}

{% block title %}Editing {{ proposal.title }} | {% endblock %}

{% block body %}
<div class="container">
    <h1>Edit: {{ proposal.title }}</h1>

    <p><a href="{% url "proposal_speaker_manage" proposal.pk %}">Manage speakers</a></p>

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group form-actions">
            <input class="btn btn-base-color" type="submit" value="Save" />
            <a class="btn btn-default" href="{% url "proposal_detail" proposal.pk %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
