{% extends "base.html" %}

{% load crispy_forms_tags i18n %}

{% block title %}Submit a Proposal for a {{ kind.name }} | {% endblock %}

{% block body %}
<div class="container">
    <h1>Submit a {{ kind.name }}</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>An asterisk (<span style="color:red;font-weight:bold">*</span>) indicates a required field.</legend>
            {{ proposal_form|crispy }}
        </fieldset>
        <div class="form-group form-actions">
            <p>
                You will be able to edit your proposal after it has been submitted. The program committee may ask questions, provide feedback, and even suggest changes to your proposal as part of the review processes.
            </p>
            <input class="btn btn-primary" type="submit" name="finish" value="Save" />
            <!-- <span style="float: right; padding: 4px 6px">or</span> -->
            <input class="btn btn-default" type="submit" name="add-speakers" value="Save and Add Additional Speakers" />
        </div>
    </form>
</div>
{% endblock %}

{% block extra_script %}<script>
    function stipendText(){
        // Only show stipend_amount field if stipend is True.
        if (jQuery("form input#id_stipend:checked").val() == "on"){
            jQuery("div#div_id_stipend_amount").show();
            jQuery("div#div_id_stipend_amount input#id_stipend_amount").attr("required", "");
        } else {
            jQuery("div#div_id_stipend_amount").hide();
            jQuery("div#div_id_stipend_amount input#id_stipend_amount").removeAttr("required");
        }
    };
    jQuery(document).ready(function() {
        stipendText();
    });
    jQuery("form input#id_stipend").change(function() {
        stipendText();
    });
</script>{% endblock %}
