{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} - {{ proposal.title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="pull-right">
        {% if not proposal.cancelled %}
            {% if request.user == proposal.speaker.user %}
                {% if proposal.can_edit %}<a href="{% url "proposal_edit" proposal.pk %}" class="btn btn-default">
                    {% translate "Edit this proposal" %}
                </a>{% endif %}
                <a href="{% url "proposal_cancel" proposal.pk %}" class="btn btn-default">
                    {% translate "Cancel this proposal" %}
                </a>
            {% endif %}
        {% else %}
            {% translate 'Cancelled' }
        {% endif %}
    </div>

    {% if request.user == proposal.speaker.user %}
    <h3>{{ proposal.title }}</h3>
    {% else %}
    <h3>#{{ proposal.number }}: {{ proposal.title }} ({{ proposal.speaker.name }})</h3>
    {% endif %}

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#proposal-detail" data-toggle="tab">{% translate "Proposal Details" %}</a></li>
            {% if request.user == proposal.speaker.user %}
                <li><a href="#proposal-documents" data-toggle="tab">{% translate "Supporting Documents" %}</a></li>
            {% endif %}
            {% if not config.BLIND_AUTHORS %}
            <li><a href="#proposal-reviewers" data-toggle="tab">
                {% translate "Reviewer List" %}
                <span class="badge">{{ proposal.review_votes.count }}</span>
            </a></li>
            {% endif %}
            {% if feedback_form %}
                <li><a href="#proposal-feedback" data-toggle="tab">{% translate "Reviewer Feedback" %} <span class="badge">{{ proposal.feedback_count }}</span></a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="proposal-detail">
                {% include "symposion/proposals/_proposal_fields.html" %}
            </div>
            {% if request.user == proposal.speaker.user %}
                <div class="tab-pane" id="proposal-documents">
                    <h3>{% translate 'Supporting Documents' %}</h3>

                    {% if proposal.supporting_documents.exists %}
                        <table class="table table-striped">
                            {% for document in proposal.supporting_documents.all %}
                                <tr>
                                    <td><a href="{{ document.download_url }}">{{ document.description }}</a></td>
                                    <td>
                                    <form style="margin: 0;" method="post" action="{% url "proposal_document_delete" document.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn">{% translate 'delete' %}</button>
                                    </form>
                                </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>{% translate 'No supporting documents attached to this proposal.' %}</p>
                    {% endif %}

                    <a class="btn btn-sm{% if proposal.cancelled %} btn-disabled{% endif %}"
                        href="{% url "proposal_document_create" proposal.pk %}">
                        <i class="fa fa-upload"></i> {% translate 'Add Document' %}</a>

                </div>
            {% endif %}
            {% if not config.BLIND_AUTHORS %}<div class="tab-pane" id="proposal-reviewers">
                <h3>Reviewers</h3>
                <ol>
                {% for review_vote in proposal.review_votes.all %}<li>
                    {{ review_vote.voter.get_full_name|default:review_vote.voter.username }}
                </li>{% endfor %}
                </ol>
            </div>{% endif %}
            {% if feedback_form %}
                {% include "reviews/_proposal_feedback_tab.html" %}
            {% endif %}
    </div>
</div>
</div>
{% endblock %}
