{% extends "base.html" %}

{% load crispy_forms_tags i18n wagtailsettings_tags %}
{% get_settings %}

{% block title %}{% translate "Apply to be a Sponsor" %} | {% endblock %}

{% block body_class %}sponsorships{% endblock %}

{% block body %}
<div class="container">
    <h1>{% translate "Apply to Be a Sponsor" %}</h1>
    <h3><a href="{{ settings.sponsorship.SponsorshipSettings.info_link }}">PyData Sponsor Levels and Benefits</a></h3>

    <form method="POST" action="" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            <legend>An asterisk (<span style="color:red;font-weight:bold">*</span>) indicates a required field.</legend>
            {% crispy form %}
        </fieldset>
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="Apply" />
            <a class="btn btn-default" href="{% url "dashboard" %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
