{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ sponsor }} | {% endblock %}

{% block page_title %}{% translate "Sponsorship" %}{% endblock %}

{% block body %}
<div class="container">
    <h2>{{ sponsor.name }} ({{ sponsor.level }})</h2>

    <form enctype="multipart/form-data" method="POST" action="" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            {% crispy form %}
        </fieldset>

        <h3>{{ sponsor.level }} Sponsor Benefits</h3>

        {{ formset.management_form }}
        {{ formset.non_form_errors }}

        {% for form in formset.forms %}
            <div class="form-group">
                <label class="control-label col-sm-2 col-lg-2">
                    {{ form.instance.benefit }}
                </label>
                <div class="col-sm-10 col-lg-10">
                    {% crispy form %}
                </div>
            </div>
        {% endfor %}

        <div class="form-actions">
            <input class="btn btn-base-color" type="submit" value="Save" />
            <a class="btn btn-default" href="{% url "dashboard" %}">Cancel</a>
        </div>

    </form>
</div>
{% endblock %}
