{% extends "site_base.html" %}

{% load flatblocks i18n markup sponsorship_tags %}

{% block head_title %}{% trans "About Our Sponsors" %}{% endblock %}

{% block body_class %}sponsorships{% endblock %}

{% block body_outer %}
    <h1>{% trans "About Our Sponsors" %}</h1>
    {% flatblock "sponsorship-list-top" %}

    {% sponsor_levels as levels %}
    {% for level in levels %}
        {% if level.sponsors %}
            <h3>{{ level.name }}</h3>
            {% for sponsor in level.sponsors %}
                {% if sponsor.website_logo %}
                    <div class="row">
                        <div class="col-md-3">
                            <h2>
                                <a href="{{ sponsor.external_url }}">
                                    <img src="{{ sponsor.website_logo.url }}" alt="{{ sponsor.name }}" />
                                </a>
                            </h2>
                        </div>
                        <div class="col-md-9">
                            <h5>{{ sponsor.name }}</h5>
                            <p><a href="{{ sponsor.external_url }}">{{ sponsor.external_url }}</a></p>
                            <p>{{ sponsor.listing_text|markdown }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
