<table class="calendar table table-bordered">
    <thead>
        <tr>
            <th class="time">&nbsp;</th>
            {% for room in timetable.rooms %}
                <th>{{ room.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in timetable %}
            <tr>
                <td class="time">{{ row.time }}</td>
                {% for slot in row.slots %}
                    <td class="slot slot-{% if slot.content.proposal %}{{ slot.content.proposal.kind.slug }}{% else %}{{ slot.kind.label|lower }}{% endif %}" colspan="{{ slot.colspan }}" rowspan="{{ slot.rowspan }}">
                      {% if slot.content %}
                          <span class="title">
                                <a href="{% url "schedule_presentation_detail" slot.content.pk slot.content.slug %}">
                                    {{ slot.content.title }}
                                </a>
                          </span>
                          <span class="speaker">
                              {{ slot.content.speakers|join:", " }}
                          </span>
                      {% else %}
                        {% if slot.content_override_html %}
                            {{ slot.content_override_html|safe }}
                        {% endif %}
                      {% endif %}
                    </td>
                {% endfor %}
                {% if forloop.last %}
                    <td colspan="{{ timetable.rooms|length }}"></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
