{% extends "base.html" %}

{% block title %} - Presentation: {{ presentation.title }}{% endblock %}

{% block body %}
<div class="container">
    {% if presentation.slot %}
        <h4>
            {{ presentation.slot.day.date|date:"l" }}
            {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }}
            {% if presentation.slot.rooms %}
                in {{ presentation.slot.rooms|join:", " }}
            {% endif %}
        </h4>
    {% endif %}
    {% if request.user.is_staff %}
        <a class="btn btn-default pull-right" href="{% url 'admin:symposion_schedule_presentation_change' presentation.id %}">Edit</a>
    {% endif %}
    <h2>{{ presentation.title }}</h2>

    <h4>{% for speaker in presentation.speakers %}{% if speaker.name %}{% if not forloop.first %}, {% endif %}<a href="{% url "speaker_profile" speaker.pk speaker.slug %}">{{ speaker }}</a>{% endif %}{% endfor %}</h4>
    <dl class="dl-horizontal">
        <dt>Audience level:</dt>
        <dd style="margin-bottom: 0;">{{ presentation.proposal.get_audience_level_display }}</dd>
    </dl>

    <h3>Brief Summary</h3>

    <div class="description">{{ presentation.description_html|safe }}</div>

    <h3>Outline</h3>

    <div class="abstract">{{ presentation.abstract_html|safe }}</div>

    {% if config.PROPOSAL_URL_FIELDS %}
        {# Don't show this section if there aren't either slides_url or code_url. #}
        {% if presentation.proposal.slides_url or presentation.proposal.code_url %}
            <h3>Links</h3>
            <ul>
            {% if presentation.proposal.slides_url %}
                <li>Slides: <a href="{{ presentation.proposal.slides_url }}">{{ presentation.proposal.slides_url }}</a></li>
            {% endif %}
            {% if presentation.proposal.code_url %}
                <li>Code: <a href="{{ presentation.proposal.code_url }}">{{ presentation.proposal.code_url }}</a></li>
            {% endif %}
            </ul>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
