{% extends "base.html" %}

{% load flatblocks i18n %}

{% block title %}Conference Schedule{% endblock %}

{% block body_class %}full{% endblock %}

{% block right %}
{% endblock %}

{% block body_outer %}
    <div class="page-head">
        <h1>Conference Schedule</h1>
        {% block breadcrumbs %}{% endblock %}
    </div>
    {% flatblock "schedule_top" %}

    {% for section in sections %}
            {% for timetable in section.days %}
                <h3>{{ section.schedule.section.name }} — {{ timetable.day.date|date:"l" }} {{ timetable.day.date }}</h3>
                {% include "symposion/schedule/_grid.html" %}
            {% endfor %}
    {% endfor %}

    {% flatblock "schedule_bottom" %}
{% endblock %}
