{% extends "base.html" %}

{% load i18n wagtailsettings_tags %}
{% get_settings %}

{% block title %}Conference Schedule | {% endblock %}

{% block body_class %}full{% endblock %}

{% block right %}
{% endblock %}

{% block body %}
{% include "_time_zone_selector.html" %}
<div class="container">
    <div class="page-head">
        <h1>Conference Schedule</h1>
    </div>
    {% if settings.schedule.ScheduleSettings.legend %}
    {{ settings.schedule.ScheduleSettings.legend }}
    {% endif %}
    {% for section in sections %}
            {% for timetable in section.days %}
                <h3>{{ section.schedule.section.name }}</h3>
                {% include "symposion/schedule/_grid.html" %}
            {% endfor %}
    {% endfor %}
</div>
{% endblock %}
