{% extends "base.html" %}

{% load i18n sitetree %}

{% block title %}Conference Schedule{% endblock %}

{% block body_class %}full{% endblock %}

{% block right %}
{% endblock %}

{% block body %}
    <div class="page-head">
        <h1>{{ schedule.section }} Schedule</h1>
        {% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}
    </div>
    <p>View past PyData event schedules <a href="http://pydata.org/events/" title="Past PyData Events">here</a>.</p>
    {% for timetable in days %}
        <h3>{{ timetable.day.date }}</h3>
        {% include "symposion/schedule/_grid.html" %}
    {% endfor %}
{% endblock %}
