{% extends "base.html" %}

{% load i18n %}

{% block title %}Conference Schedule{% endblock %}

{% block body_class %}full{% endblock %}

{% block right %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="page-head">
        <h1>Conference Schedule</h1>
        {% block breadcrumbs %}{% endblock %}
    </div>
    <p>View past PyData event schedules <a href="https://pydata.org/events/" title="Past PyData Events">here</a>.</p>
    {% for section in sections %}
            {% for timetable in section.days %}
                <h3>{{ section.schedule.section.name }} — {{ timetable.day.date|date:"l" }} {{ timetable.day.date }}</h3>
                {% include "symposion/schedule/_grid.html" %}
            {% endfor %}
    {% endfor %}
</div>
{% endblock %}
