# Tasks specifically related to AMY integration.

# Creating a Django user account will fail if a user with that same
# name already exists, so we ignore errors.
- name: create AMY superuser
  django_manage: command="createsuperuser  --noinput --username {{ amy_username }} --email {{ admin_email }}"
                 app_path={{ project_root }}
                 settings=conf_site.settings.{{ environment_type }}
                 virtualenv={{ virtualenv_root }}/current
  environment:
    DJANGO_SUPERUSER_PASSWORD: "{{ amy_password }}"
  ignore_errors: yes
