- name: pull repository from Github to project directory
  git: accept_hostkey=yes
       dest={{ project_folder_root }}
       repo=https://github.com/pydata/conf_site.git
       update=yes
       version={{ git_version }}
  sudo: yes
  when: environment_type == "production"
  notify:
    - restart nginx
    - restart gunicorn

- name: install python packages and associated libraries
  apt: pkg={{ item }} state=latest
  sudo: yes
  with_items:
    - python-dev
    - python-pip
    - python-virtualenv
    - libjpeg-dev
    - libtiff-dev
    - libxml2
    - libxml2-dev
    - libxslt-dev
    - libxslt1-dev
    - zlib1g-dev
  notify: restart gunicorn

- name: change ownership of everything to this user
  command: /bin/chown -R {{ ansible_user_id }}:www-data {{ www_root }}
  sudo: yes

- name: manually figure out latest Git commit
  command: git rev-parse HEAD chdir={{ project_folder_root }}
  register: git_status

- name: determine if virtualenv exists
  stat: path={{ virtualenv_folder_root }}{{ git_status.stdout }}
  register: venv_dir

- name: create virtualenv if necessary
  shell: virtualenv {{ virtualenv_folder_root }}{{ git_status.stdout }}
  when: venv_dir.stat.isdir is not defined
  notify: delete other virtualenvs

- name: move old "current" symlink to "previous" if virtualenv has changed
  shell: mv
        {{ virtualenv_folder_root }}current
        {{ virtualenv_folder_root }}previous
  when: venv_dir.stat.isdir is not defined
  ignore_errors: yes

- name: use symlink for easier virtualenv management
  file: state=link
        path={{ virtualenv_folder_root }}current
        src={{ virtualenv_folder_root }}{{ git_status.stdout }}

- name: update virtualenv with requirements
  pip: requirements={{ project_folder_root }}/requirements/{{ environment_type }}.txt
       virtualenv={{ virtualenv_folder_root }}current
  notify: restart gunicorn

- name: add supervisor configuration file for gunicorn
  template: src=supervisor.conf
            dest=/etc/supervisor/conf.d/gunicorn.conf
  sudo: yes
  notify:
    - restart supervisor
    - restart gunicorn

- name: create sensitive settings file
  template: src=sensitive-settings.py
            dest={{ project_folder_root }}/conf_site/settings/secrets.py
            mode=0644
  notify: restart gunicorn

- name: database migrate
  django_manage: command=migrate
                 app_path={{ project_folder_root }}
                 settings=conf_site.settings.{{ environment_type }}
                 virtualenv={{ virtualenv_folder_root }}current
  notify: restart gunicorn

- name: collect static files
  django_manage: command=collectstatic
                 app_path={{ project_folder_root }}
                 settings=conf_site.settings.{{ environment_type }}
                 virtualenv={{ virtualenv_folder_root }}current
  notify: restart nginx
