# Email address used with the administrative account.
admin_email: "admin@example.com"
# Password used to set up the administrative account.
amy_password: "00000000"
# The username of the administrative account.
amy_username: "admin"
# Password used by the Django database.
database_password: "hunter2"
# See https://docs.djangoproject.com/en/dev/ref/settings/#secret-key.
django_secret_key: "correct horse battery staple"
# Hostname of the SMTP server used to send email.
email_host_name: "smtp.example.com"
# Password to use with a SMTP server.
email_host_password: "hunter2"
# SendGrid API key - used instead of SMTP email on PyData sites.
sendgrid_api_key: "The Magic Words are Squeamish Ossifrage"
# Information for Sentry.io error management:
sentry_api_token: ""
sentry_project_id: ""
sentry_project_name: ""
sentry_public_key: ""
sentry_secret_key: ""
# The upstream IP address used as a reverse proxy in staging and production.
upstream_server_ip: 127.0.0.1
