{% extends "base.html" %}


{% block title %} - Speakers{% endblock %}

{% block body %}
<div class="container sec1-inner-page">
  <h1>Speakers</h1>
  <ul>{% for speaker in speakers %}
    <li>
      <a href="{% url 'speaker_profile' speaker.pk speaker.slug %}">{{ speaker.name }}</a> -
      {% for presentation in speaker.all_presentations %}
        <a href="{% url 'schedule_presentation_detail' presentation.pk presentation.slug %}">
          {{ presentation.title }}</a>{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </li>
  {% endfor %}</ul>
</div>
{% endblock %}
